<!doctype html>
<html>

<head>
	<title>{{{title}}}</title>
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<!-- Add conditional statement to only load
	below css if using /add form -->
<!-- 	<link rel="stylesheet" type="text/css" href="css/vendor/normalize.css"/ >
	<link rel="stylesheet" type="text/css" href="css/vendor/jquery.datetimepicker.css"/ >
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="{{{bodyclass}}}">

	{{{body}}}
	
</body>

</html>