<header>
	<h1>{{{ title }}}</h1>
</header>

<div class="people">

</div>


<script type="text/javascript" src="js/vendor/socket.io.js"></script>

<script type="text/javascript" src="js/vendor/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="js/script.js"></script>