// Variables

$font-stack: Roboto, sans-serif;
$font-stack1: Roboto Condensed, sans-serif;
$primary-color: #000;
$secondary-color: #0088FF;
$primary-border-color: #eee;
$primary-text-color: #f5f5f5;
$input-color: #f5f5f5;
$input-border: #eee;

$header-font-weight: 300;

html, body {
	height: 100%;
	font-family: $font-stack;
	padding: 0;
	margin: 0;
	background-color: #fff; 
}

.person {
	display: inline-block;

	li {

		list-style-type: none;
		text-align: center;

		h1 {
			margin-bottom: 2px;
		}

		img {
			margin-top: 40px;
		}
	}
}


a {
	color: $secondary-color;
	text-decoration: underline;
}

a:visited {
	color: $secondary-color;
	text-decoration: underline;
}

a:active {
	color: $secondary-color;
	text-decoration: underline;
}


h1 {
	font-size: 1.8em;
	font-weight: bold;
	font-weight: $header-font-weight;
}

h2 {

	font-weight: 500;
	font-family: $font-stack1;
	margin: 0;
	padding: 0;
}

.info-panel a {
	color: #ccc;
}


header {

	display: block;
	color: $primary-text-color;
	background-color: $primary-color;
	border-bottom: 4px solid $primary-border-color;
	padding: 8px;

	h1 {

		font-size: 1em;
		font-weight: $header-font-weight;
		margin: 0;
		padding: 0;
	}
}



/* Form styling */
label { 
	display: block;
}

.ib {
	display: inline-block;
}
input {
	margin-bottom: 10px;
	border: 2px solid $input-border;
	background-color: $input-color;
	padding: 10px;
	-webkit-appearance: none;
	-webkit-border-radius:0; 
	border-radius:0;
}


.spinner {
	width: 50px;
	height: 50px;
	background-color: #fff;

	margin: 100px auto;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
		} 50% { 
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
			} 100% { 
				transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
				-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			}
		}

		/* Smartphones (portrait and landscape) ----------- */
		@media only screen 
		and (min-device-width : 320px) 
		and (max-device-width : 480px) {

			.filter-panel {

				position: absolute;
				left: 0;
				right: 0;
				top: 40px;
				max-height: 0;
				text-transform: uppercase;
				text-align: center;
				font-size: 0.8em;
				letter-spacing: 0.2em;
				line-height: 2.4em;

			}
			.filter-panel ul {
				list-style-type: none;
				padding: 20px 0;
				margin: 0;
			}

			.filter-panel ul li {
				list-style-type: none;
				padding: 0;
			}


			.fp-show {
				max-height: 400px;
			}



			.info-panel {
				position: absolute;

				bottom: 10px;
				max-height: 0;
				left: 10px;
				right: 10px;
				border-radius: 4px;
				box-shadow: 0 1px 1px #ababab;

				box-sizing: border-box;
				background-color: #fff;

				-webkit-transition: all 100ms ease;
				-moz-transition: all 100ms ease;
				-ms-transition: all 100ms ease;
				-o-transition: all 100ms ease;
				transition: all 100ms ease;

			}

			.info {
				overflow-y: auto;
				height: 90%;
				width: 100%;
			}

			.ip-show {
				max-height: 60%;
				padding: 10px;
			}

			.info-panel .event-description {
				height: 0;
				overflow-y: hidden;

				-webkit-transition: all 100ms ease;
				-moz-transition: all 100ms ease;
				-ms-transition: all 100ms ease;
				-o-transition: all 100ms ease;
				transition: all 100ms ease;
			}

			.info-panel .ed-show { 
				height: 300px;
			}

			.add #appning-map {
				width: 100%;
				height: 200px;
				margin-bottom: 20px;
			}

			.home #appning-map {
				position: absolute;
				top: 40px;
				bottom: 0;
				left: 0;
				right: 0;
		// width: 100%;
		
		height: -webkit-calc(100% - 40px);
		height: -moz-calc(100% - 40px);
		height: calc(100% - 40px);

	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

	.filter-panel {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		height: 0;
	}

	.fp-show {
		height: 200px;
	}

	.info-panel {

		position: absolute;
		top: 0;
		height: 0;
		background-color: #fff;
		box-sizing: border-box;
		left: 50%;
		right: 10px;
		overflow-y: auto;

		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
	}

	.ip-show {
		height: 100%;
		padding: 10px;
	}

	.add #appning-map {
		width: 100%;
		height: 30%;
		margin-bottom: 20px;
	}

	.home #appning-map {
		float: left;
		width: 50%;
		margin-bottom: 0;

		height: -webkit-calc(100% - 40px);
		height: -moz-calc(100% - 40px);
		height: calc(100% - 40px);

	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
}